@font-face {
  font-family: GothamMedium;
  src: url("../../assets/fonts/GothamMedium.ttf");
}
.absolute-pos {
  position: fixed;
  z-index: 4;
  white-space: normal;
}
@media screen and (min-width: 0px) {
  .landing-page-line-break {
    display: none;
  }
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
#screen-container {
  box-sizing: border-box;
  font-family: "Manrope";
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  justify-content: space-between;
  user-select: none;
}
.visible-overlay {
  display: block !important;
}
.invisible-overlay {
  display: none !important;
}
#bg-1 {
  height: 100vh;
  width: 82vw;
  background-repeat: round;
  background-color: black;
  position: absolute;
  left: 0;
  z-index: -1;
}
#bg-2 {
  height: 100vh;
  width: 18vw;
  background: linear-gradient(174.42deg, #2929cc 0%, #e617a1 100%);
  position: absolute;
  right: 0;
  z-index: -1;
}

#signup-component {
  position: absolute;
  left: 70.5vw;
  top: 16.65vh;
}
#signup-component-mobile {
  position: absolute;
  z-index: 3;
}

#ieee-logo {
  margin-top: 5vh;
  margin-left: 3vw;
}
.invisible-signup {
  display: none;
}
.visible-signup {
  display: flex;
}
#page-content {
  margin-left: 3vw;
  margin-top: 12vh;
}
.page-content-heading {
  margin-bottom: -3vh;
  font-weight: 700;
  color: transparent;
  width: max-content;
  background-image: linear-gradient(90.31deg, #00aaff 0.13%, #aa00ff 99.88%);
  background-clip: text;
  background-size: fit-content;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#page-content h1 {
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 7vh;
  letter-spacing: 0.1rem;
}
@media screen and (max-width : 330px){
  #page-content h2 {
    margin-top: 2.6rem !important;
  }
}
#page-content h3 {
  margin-top: 8vh;
  font-size: 1rem;
  font-weight: 300;
  line-height: 4vh;
  letter-spacing: 0.02rem;
  padding-right: 0.5vw;
}
#register-btn {
  display: none;
  margin-top: 6vh !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 20%;
  background-color: #0088ff;
  color: white;
  padding: 2vh 2vw;
  border-radius: 6px;
  font-family: "Manrope";
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}
#register-btn:hover {
  background-color: #1f96ff;
  box-shadow: 0px 0px 3px 1px rgba(31, 150, 255, 0.6);
}
#register-btn:active {
  background-color: #0578dc;
  box-shadow: 0 0 0 0;
}
#first-social-media-handle {
  margin-left: 3vw !important;
}
#social-media-handles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3vh;
}

#social-media-handles img {
  margin-left: 1.15vw;
  width: 23.5px;
  height: 23.5px;
  border-radius: 40px;
}

@media screen and (max-width : 1334px) {
  #signup-component {
    left : 69vw;
  }
}
@media screen and (max-width : 1188px) {
  #signup-component{
    left : 68vw;
  }
  #page-content h3 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1126px) {
  #page-content h1 {
    font-size: 3rem !important;
  }
  #page-content h3 {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
  }
  #signup-component {
    left: 68vw;
  }
}
@media screen and (max-width: 1024px) {
  #bg-1 {
    width: 100vw;
  }
  #bg-2 {
    display: none;
  }
  #page-content {
    margin-left: 0;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    text-align: center;
  }
  #signup-component {
    display: none;
  }
  #register-btn {
    display: flex;
    margin-top: -10vh !important;
  }
  #social-media-handles a {
    margin-left: 0.2vw;
    margin-right: 0.2vw;
  }
  #social-media-handles img {
    width: 25px;
    height: 25px;
  }
  .page-content-heading {
    margin-bottom: -4vh;
    width: auto;
  }
  #page-content h3 {
    margin-top: 8vh;
    letter-spacing: 0.08rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 417px) {
  #signup-component-mobile {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 580px) {
  #page-content h1 {
    font-size: 2.6rem !important;
  }
  #page-content h3 {
    font-size: 0.9rem;
    margin-top: 6vh;
  }
  #register-btn {
    width: 30%;
    font-size: 0.9rem;
    margin-top: -13vh !important;
  }
  #social-media-handles img {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 541px) {
  #ieee-logo {
    position: fixed;
    top: 0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  #social-media-handles {
    position: fixed;
    bottom: 1.2vh;
  }
  #screen-container {
    justify-content: flex-start !important;
  }
  #page-content {
    padding-top: 10vh;
  }
  #page-content h3 {
    letter-spacing: 0.08rem;
  }
  #register-btn {
    margin: 6vh 0 0 0 !important;
  }
}
@media screen and (max-width: 768px) {
  #page-content {
    text-align: center;
  }
  #page-content h3 {
    margin-top: 70px;
  }
  #ieee-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #first-social-media-handle {
    margin-left: 0vw !important;
  }
  #social-media-handles {
    width: 100%;
    justify-content: center;
  }
  #social-media-handles a {
    margin-left: 1vw;
    margin-right: 1vw;
  }
  #social-media-handles img {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 426px) {
  #page-content h1 {
    font-size: 2.3rem !important;
  }
  #page-content {
    margin-left: 3vw;
  }
}

@media screen and (max-width: 355px) {
  #page-content h1 {
    font-size: 2.3rem !important;
  }
  #page-content h3 {
    font-size: 0.9rem;
  }
  #register-btn {
    width: 38%;
    margin-top: 2.5vh !important;
  }
}
@media screen and (max-width: 300px) {
  #page-content h1 {
    font-size: 2.1rem !important;
  }
}
@media screen and (max-width: 561px) and (max-height: 570px) {
  #page-content h1 {
    font-size: 2.3rem !important;
  }
}
/*
@media screen and (max-width: 990px) {
    #page-content h1{
        font-size: 2.7rem !important;
    }
    #page-content h3 {
        font-size : 0.8rem;
    }
    #signup-component {
        left: 67.5vw;
    }
}
@media screen and (max-width: 892px) {
    #page-content h1{
        font-size: 2.4rem !important;
    }
    #page-content h3 {
        font-size : 0.8rem;
    }
    #signup-component {
        left: 65.5vw;
    }
}
@media screen and (max-width: 786px) {
    #page-content h1{
        font-size: 2.3rem !important;
    }
    #page-content h3 {
        font-size : 0.8rem;
    }
    #signup-component {
        left: 65.5vw;
    }
}
@media screen and (max-width: 734px) {
    #page-content h1{
        font-size: 2.1rem !important;
    }
    #page-content h3 {
        font-size : 0.8rem;
    }
    #signup-component {
        left: 64vw;
    }
}*/
