#forgot-pass-container * {
    user-select: none;
  }
  #forgot-pass-container {
    background-color: #0a0a0a;
    height: 100vh;
    width: 100vw;
  }
  #forgot-pass-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    border-bottom: 1px solid #0088ff;
  }
  #forgot-pass-header h2 {
    color: #0088ff;
    font-family: "Manrope";
    font-size: 1.3rem;
  }
  #forgot-pass-body {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  #forgot-pass-body p {
    color: white;
    font-size: 1rem;
    font-family: "Manrope";
    text-align: center;
  }
  .forgot-pass-input-field {
    background-color: #0f0f0f;
    color: #7a7a7a;
    border: 0;
    border-bottom: 1px #7a7a7a solid;
    padding: 1.3vh 1.2vw;
    font-size: 1rem;
    font-family: "Manrope";
    width: 280px;
    border-radius: 0.1rem;
    margin-top: 3vh;
  }
  .forgot-pass-input-field:focus {
    outline: none !important;
    border-bottom: 1px #0088ff solid;
  }
  .forgot-pass-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 85px;
    background-color: #0088ff;
    color: white;
    padding: 1.3vh 0.8vw;
    margin-top: 4vh;
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
  }
  .forgot-pass-submit:hover {
    background-color: #1f96ff;
    box-shadow: 0px 0px 3px 1px rgba(31, 150, 255, 0.6);
  }
  .forgot-pass-submit:active {
    background-color: #0578dc;
    box-shadow: 0 0 0 0;
  }
  @media screen and (max-width: 300px) {
    .forgot-pass-input-field {
      width: 250px;
    }
  }